yo-soy{
  vertical-align: bottom;
}


b{
  font-family: 'Raleway', sans-serif;
}


.color-celeste{

background-color: #06B6D6;

}
.text-celeste{
  color: #06B6D6;
}

a{
  color: #FFFFFF;
}

a:hover {
  color: #6c757d;
}


.bg-hero{
  /* text-align: right; */
  background-image: url('../img/bg_hero.png');
  background-repeat: no-repeat;
  /* background-size: cover; */
   background-position: center;

}

.carousel-indicators  .active {

  background-color: #06B6D6;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #dddddd;
}

.f-logo{
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 700;
}
