yo-soy{
  vertical-align: bottom;
}


b{
  font-family: 'Raleway', sans-serif;
}


.color-celeste{

background-color: #06B6D6;

}
.text-celeste{
  color: #06B6D6;
}

a{
  color: #FFFFFF;
}

a:hover {
  color: #6c757d;
}


header{

  background-image: url('../img/bg_hero.png');
  background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 /* vertical-align: bottom; */
    /* padding-bottom: 10rem; */
    /* vertical-align:align-text-bottom; */

}

.carousel-indicators  .active {

  background-color: #06B6D6;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #dddddd;
}

.f-logo{
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 700;
}


.card{
  width: 90%;
}
